### COMMON SETTINGS
EXISTING_STUDENT_EMAIL=
EXISTING_FACULTY_EMAIL=
COMMON_PASSWORD=Testing1
API_URL=http://localhost:8000/api/v1
WEB_URL= https://evolvetest.elsevier.com

### DB SETTINGS
EVL_DB_AUTOMATION_USERNAME=
EVL_DB_AUTOMATION_PASSWORD=
EVL_ORACLE_AUTOMATION_FORWARD_HOST=

### BACKOFFICE SETTINGS
BO_USERNAME=
BO_PASSWORD=
BO_URL=https://admin-cert.ehsevolve.com

### EVOLVE SETTINGS
EVOLVE_WEB_URL=https://evolvetest.elsevier.com
